<a href="https://colab.research.google.com/github/zhouchun0105/Citadel-Datathon-2022/blob/main/Chun_data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
df = pd.read_csv('/content/drive/MyDrive/Final_Data_Collection/Diabetes_Data_1999_2008.csv',na_values=['?'])

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

# Data Cleaning

In [4]:
df.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),NaN,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),NaN,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),NaN,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),NaN,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),NaN,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 50 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   encounter_id              101766 non-null  int64
 1   patient_nbr               101766 non-null  int64
 2   race                      99493 non-null   object
 3   gender                    101766 non-null  object
 4   age                       101766 non-null  object
 5   weight                    3197 non-null    object
 6   admission_type_id         101766 non-null  int64
 7   discharge_disposition_id  101766 non-null  int64
 8   admission_source_id       101766 non-null  int64
 9   time_in_hospital          101766 non-null  int64
 10  payer_code                61510 non-null   object
 11  medical_specialty         51817 non-null   object
 12  num_lab_procedures        101766 non-null  int64
 13  num_procedures            101766 non-null  int64
 14  num_medications           101766 non-null  int64
 15  number_outpatient         101766 non-null  int64
 16  number_emergency          101766 non-null  int64
 17  number_inpatient          101766 non-null  int64
 18  diag_1                    101745 non-null  object
 19  diag_2                    101408 non-null  object
 20  diag_3                    100343 non-null  object
 21  number_diagnoses          101766 non-null  int64
 22  max_glu_serum             101766 non-null  object
 23  A1Cresult                 101766 non-null  object
 24  metformin                 101766 non-null  object
 25  repaglinide               101766 non-null  object
 26  nateglinide               101766 non-null  object
 27  chlorpropamide            101766 non-null  object
 28  glimepiride               101766 non-null  object
 29  acetohexamide             101766 non-null  object
 30  glipizide                 101766 non-null  object
 31  glyburide                 101766 non-null  object
 32  tolbutamide               101766 non-null  object
 33  pioglitazone              101766 non-null  object
 34  rosiglitazone             101766 non-null  object
 35  acarbose                  101766 non-null  object
 36  miglitol                  101766 non-null  object
 37  troglitazone              101766 non-null  object
 38  tolazamide                101766 non-null  object
 39  examide                   101766 non-null  object
 40  citoglipton               101766 non-null  object
 41  insulin                   101766 non-null  object
 42  glyburide-metformin       101766 non-null  object
 43  glipizide-metformin       101766 non-null  object
 44  glimepiride-pioglitazone  101766 non-null  object
 45  metformin-rosiglitazone   101766 non-null  object
 46  metformin-pioglitazone    101766 non-null  object
 47  change                    101766 non-null  object
 48  diabetesMed               101766 non-null  object
 49  readmitted                101766 non-null  object
dtypes: int64(13), object(37)
memory usage: 38.8+ MB

In [ ]:
df.drop(["encounter_id", "patient_nbr", "weight", "payer_code", "medical_specialty", "change", "diabetesMed"])

In [6]:
df.readmitted.unique()

array(['NO', '>30', '<30'], dtype=object)

In [9]:
df['readmitted']=df.readmitted.replace({'NO': 0 , '>30': 1, '<30': 2})

In [13]:
df['age']=df.age.replace({'[0-10)':0,'[10-20)':1, '[20-30)':2, '[30-40)':3, '[40-50)':4, '[50-60)':5,
       '[60-70)':6, '[70-80)':7, '[80-90)':8, '[90-100)':9})

In [15]:
df.head(20)

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,0,NaN,6,25,1,1,...,No,No,No,No,No,No,No,No,No,0
1,149190,55629189,Caucasian,Female,1,NaN,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,1
2,64410,86047875,AfricanAmerican,Female,2,NaN,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,0
3,500364,82442376,Caucasian,Male,3,NaN,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,0
4,16680,42519267,Caucasian,Male,4,NaN,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,0
5,35754,82637451,Caucasian,Male,5,NaN,2,1,2,3,...,No,Steady,No,No,No,No,No,No,Yes,1
6,55842,84259809,Caucasian,Male,6,NaN,3,1,2,4,...,No,Steady,No,No,No,No,No,Ch,Yes,0
7,63768,114882984,Caucasian,Male,7,NaN,1,1,7,5,...,No,No,No,No,No,No,No,No,Yes,1
8,12522,48330783,Caucasian,Female,8,NaN,2,1,4,13,...,No,Steady,No,No,No,No,No,Ch,Yes,0
9,15738,63555939,Caucasian,Female,9,NaN,3,3,4,12,...,No,Steady,No,No,No,No,No,Ch,Yes,0
10,28236,89869032,AfricanAmerican,Female,4,NaN,1,1,7,9,...,No,Steady,No,No,No,No,No,No,Yes,1
11,36900,77391171,AfricanAmerican,Male,6,NaN,2,1,4,7,...,No,Steady,No,No,No,No,No,Ch,Yes,2
12,40926,85504905,Caucasian,Female,4,NaN,1,3,7,7,...,No,Down,No,No,No,No,No,Ch,Yes,2
13,42570,77586282,Caucasian,Male,8,NaN,1,6,7,10,...,No,Steady,No,No,No,No,No,No,Yes,0
14,62256,49726791,AfricanAmerican,Female,6,NaN,3,1,2,1,...,No,Steady,No,No,No,No,No,No,Yes,1
15,73578,86328819,AfricanAmerican,Male,6,NaN,1,3,7,12,...,No,Up,No,No,No,No,No,Ch,Yes,0
16,77076,92519352,AfricanAmerican,Male,5,NaN,1,1,7,4,...,No,Steady,No,No,No,No,No,Ch,Yes,2
17,84222,108662661,Caucasian,Female,5,NaN,1,1,7,3,...,No,No,No,No,No,No,No,No,Yes,0
18,89682,107389323,AfricanAmerican,Male,7,NaN,1,1,7,5,...,No,Steady,No,No,No,No,No,No,Yes,1
19,148530,69422211,NaN,Male,7,NaN,3,6,2,6,...,No,Steady,No,No,No,No,No,Ch,Yes,0

In [ ]:
df['diag_1']=df.diag_1.replace({''})

In [36]:
diag_1_df['count'].nlargest(n=10)

diag_1
428    6862
414    6581
786    4016
410    3614
486    3508
427    2766
491    2275
715    2151
682    2042
434    2028
Name: count, dtype: int64

In [39]:
print(diag_1_df[diag_1_df['count']==6862])

        count
diag_1
428      6862

In [37]:
df.diag_1.unique()

array(['250.83', '276', '648', '8', '197', '414', '428', '398', '434',
       '250.7', '157', '518', '999', '410', '682', '402', '737', '572',
       'V57', '189', '786', '427', '996', '277', '584', '462', '473',
       '411', '174', '486', '998', '511', '432', '626', '295', '196',
       '250.6', '618', '182', '845', '423', '808', '250.4', '722', '403',
       '250.11', '784', '707', '440', '151', '715', '997', '198', '564',
       '812', '38', '590', '556', '578', '250.32', '433', 'V58', '569',
       '185', '536', '255', '250.13', '599', '558', '574', '491', '560',
       '244', '250.03', '577', '730', '188', '824', '250.8', '332', '562',
       '291', '296', '510', '401', '263', '438', '70', '250.02', '493',
       '642', '625', '571', '738', '593', '250.42', '807', '456', '446',
       '575', '250.41', '820', '515', '780', '250.22', '995', '235',
       '250.82', '721', '787', '162', '724', '282', '514', 'V55', '281',
       '250.33', '530', '466', '435', '250.12', 'V53', '789', '566',
       '822', '191', '557', '733', '455', '711', '482', '202', '280',
       '553', '225', '154', '441', '250.81', '349', nan, '962', '592',
       '507', '386', '156', '200', '728', '348', '459', '426', '388',
       '607', '337', '82', '531', '596', '288', '656', '573', '492',
       '220', '516', '210', '922', '286', '885', '958', '661', '969',
       '250.93', '227', '112', '404', '823', '532', '416', '346', '535',
       '453', '250', '595', '211', '303', '250.01', '852', '218', '782',
       '540', '457', '285', '431', '340', '550', '54', '351', '601',
       '723', '555', '153', '443', '380', '204', '424', '241', '358',
       '694', '331', '345', '681', '447', '290', '158', '579', '436',
       '335', '309', '654', '805', '799', '292', '183', '78', '851',
       '458', '586', '311', '892', '305', '293', '415', '591', '794',
       '803', '79', '655', '429', '278', '658', '598', '729', '585',
       '444', '604', '727', '214', '552', '284', '680', '708', '41',
       '644', '481', '821', '413', '437', '968', '756', '632', '359',
       '275', '512', '781', '420', '368', '522', '294', '825', '135',
       '304', '320', '250.31', '669', '868', '496', '250.43', '826',
       '567', '3', '203', '53', '251', '565', '161', '495', '49', '250.1',
       '297', '663', '576', '355', '850', '287', '250.2', '611', '840',
       '350', '726', '537', '620', '180', '366', '783', '11', '751',
       '716', '250.3', '199', '464', '580', '836', '664', '283', '813',
       '966', '289', '965', '184', '480', '608', '333', '972', '212',
       '117', '788', '924', '959', '621', '238', '785', '714', '942',
       '250.23', '710', '47', '933', '508', '478', '844', '7', '736',
       '233', '42', '250.5', '397', '395', '201', '421', '253', '250.92',
       '600', '494', '977', '39', '659', '312', '614', '647', '652',
       '646', '274', '861', '425', '527', '451', '485', '217', '250.53',
       '442', '970', '193', '160', '322', '581', '475', '623', '374',
       '582', '568', '465', '801', '237', '376', '150', '461', '913',
       '226', '617', '987', '641', '298', '790', '336', '362', '228',
       '513', '383', '746', '353', '911', '506', '873', '155', '860',
       '534', '802', '141', 'V45', '396', '310', '341', '242', '719',
       '239', '533', '616', '519', '301', 'V66', '5', '989', '230', '385',
       '300', '853', '871', '570', '848', '463', '9', '934', '250.21',
       '236', '361', '594', '501', '810', '643', '430', '528', '205',
       '791', '983', '992', '490', '172', '171', '622', '306', '863',
       '864', '474', '660', '759', '356', '634', '967', '551', '695',
       '187', '732', '747', '323', '308', '370', '252', '152', '846',
       '164', '365', '718', '48', '266', '720', '94', '344', '797', '170',
       '878', '904', 'V56', '882', '843', '709', '973', '454', '686',
       '939', '487', '229', '991', '483', '357', '692', '796', '693',
       '935', '936', '800', '920', 'V26', '261', '307', '262', '250.9',
       '831', '145', '223', 'V71', '839', '685', 'V54', '35', '34', '179',
       '964', '136', '324', '389', '815', '334', '143', '526', '588',
       '192', 'V67', '394', '917', '88', '219', '325', '792', '717',
       '994', '990', '793', '207', '637', '195', '373', '847', '827',
       '31', '891', '814', 'V60', '703', '865', '352', '627', '378',
       '342', '886', '369', '745', '705', '816', '541', '986', '610',
       '633', '640', '753', '173', '835', '379', '445', '272', '382',
       '945', '619', '881', '250.52', '866', '405', '916', '215', '893',
       '75', '671', '928', '906', '897', '725', '867', '115', '890',
       '734', '521', '674', '470', '834', '146', '696', '524', '980',
       '691', '384', '142', '879', '250.51', '246', '208', '448', '955',
       '653', '149', '245', '735', '883', '854', '952', '838', '194',
       'V43', '163', '216', '147', '354', '27', '477', '318', '880',
       '921', '377', '471', '683', '175', '602', '250.91', '982', '706',
       '375', '417', '131', '347', '870', '148', '862', '61', '817',
       '914', '360', '684', '314', 'V63', '36', '57', '240', '915', '971',
       '795', '988', '452', '963', '327', '731', '842', 'V25', '645',
       '665', '110', '944', '603', '923', '412', '363', '957', '976',
       '698', '299', '700', '273', '974', '97', '529', '66', '98', '605',
       '941', '52', '806', '84', '271', '837', '657', '895', '338', '523',
       '542', '114', '543', '372', 'V70', 'E909', '583', 'V07', '422',
       '615', '279', '500', '903', '919', '875', '381', '804', '704',
       '23', '58', '649', '832', '133', '975', '833', '391', '690', '10',
       'V51'], dtype=object)

In [35]:
df.diag_1.unique().shape

(717,)

In [33]:
diag_1_df

        count
diag_1
10          1
11         10
110         2
112        73
114         1
...       ...
V63         8
V66         2
V67         1
V70         1
V71         9

[716 rows x 1 columns]

In [32]:
diag_1_df = df.groupby('diag_1').size().to_frame()
diag_1_df.columns = ['count']
rank_1 = diag_1_df['count'].rank(method='max')
rank_1

diag_1
10      82.0
11     335.0
110    143.0
112    546.0
114     82.0
       ...
V63    303.0
V66    143.0
V67     82.0
V70     82.0
V71    321.0
Name: count, Length: 716, dtype: float64

In [18]:
df.diag_2.unique().shape

(749,)

In [19]:
df.diag_3.unique().shape

(790,)